extends layout

block content
  header
    a(id="header-menu")
      span(class="material-icons") menu
  main
    include main.pug
  footer
    a(id="footer-home")
      span(class="material-icons") home
    a(id="footer-qr")
      span(class="material-icons") qr_code_scanner
    a(id="footer-hist")
      span(class="material-icons") history
