extends layout

block content
  header
    a(id="header-menu")
      span(class="material-icons") menu
  main
    include main.pug
  footer
    span(id="pill")
    a(id="footer-home" onclick="openPage(1)")
      span(class="material-icons" ) home
    a(id="footer-qr")
      span(class="material-icons" onclick="openPage(2)") qr_code_scanner
    a(id="footer-hist")
      span(class="material-icons" onclick="openPage(3)") history
