#app-padding(style="height: 4rem;")
link(rel="stylesheet" href="/stylesheets/style.css")
link(rel="stylesheet" href="/stylesheets/app.css")

#window-home.app-window.active
    h1 Velkommen!
    input(type="text", name="Søg", placeholder="Søg efter kemikalier...")

#window-scan-qr.app-window
    h1 Scan QR-kode
    p gør det nu

#window-history.app-window
    h1 Historik
    p amogus