#app-padding(style="height: 4rem;")
link(rel="stylesheet" href="/stylesheets/style.css")

#window-home.app-window
    h1 HD
    p Amogus

#window-scan-qr.app-window
    h1 QR
    p Amogus

#window-history.app-window
    h1 Historik
    p Amogus