#app-padding(style="height: 4rem;")
link(rel="stylesheet" href="/stylesheets/style.css")

#window-home.app-window.active
    h1 Velkommen!
    p Forside uwu

#window-scan-qr.app-window
    h1 Scan QR-kode
    p gør det nu

#window-history.app-window
    h1 Historik
    p amogus