#window-home {
    padding: 1rem;
}

#window-home input {
    width: calc(100vw - 2rem);
    box-sizing: border-box;
    padding: .5rem;
    border-radius: .5rem;
    border: thin solid #999;
    font-family: "Cabin", sans-serif;
}