#window-home, #window-scan-qr {
    padding: 1rem;
    box-sizing: border-box;
}

#window-home input {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: .5rem;
    border: thin solid #999;
    font-family: "Cabin", sans-serif;
}

.large-green-box {
    background-color: #77b458;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
}

.large-green-box h1 {
    margin: 0.5rem 0;
}

#window-scan-qr video {
    width: 100%;
    height: 100%;
}